aiohttp==3.13.5
aiofiles==25.1.0
aiosqlite==0.22.1
alembic==1.18.4
bcrypt==5.0.0
croniter==6.2.2
cryptography==48.0.0
fastapi==0.136.1
friendlywords==1.2.0
greenlet==3.5.0
mypy==2.0.0
pydantic==2.13.4
PyJWT==2.12.1
PyJWT[crypto]
requests==2.33.1
ruff==0.15.12
SQLAlchemy==2.0.49
sse-starlette==3.4.2
uvicorn==0.46.0
websockets==16.0
